<h1>Edit Wiki</h1>
<%= form_for(@wiki) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%puts @wiki.body%>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :private %><br>
    <%= f.check_box :private %>
  </div>
  <#%= render partial: 'new_collaborator' %>
  <div class="field">
    <%= f.label "Add or remove a collaborator" %><br>
    <%= f.email_field :col_email, placeholder: "User name (email)" %>
  </div>
  <div>


    <h4>Current Collaborators</h4>
    <% @wiki.users.each do |c| %>
      <div class="field">
        <%= check_box_tag "f[user_ids][]", c.id, @wiki.user_ids.include?(c.id) %>
        <small><%= c.id %> <%= c.email %> </small></br>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end%>

<%= link_to 'Back', wikis_path %>
