<h1>Current Wikis</h1>
<div class="row">
  <div class="col-md-8">
    <% @wikis.each do |w| %>
      <% if !w.private? || (w.private? && !current_user.standard?) %>
        <div class="media">
          <div class="media-body">

              <h4 class="media-heading"><%= link_to w.title, w %></h4>
              <small><%=  %></small>
              <small><%= hide_markdown_format(w.body) %></small>
              <small>User name : <%= w.user_id %> | <%= w.private %></small>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
  </div>
</div>
